@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Anek Devanagari', sans-serif;
}

body {
    padding: 0;
    margin: 0; 
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a {
    text-decoration: none;
    color: black;
}

/*                   ON ATTAQUE LE HEADER                            */

/*                      LA NAV BAR                                  */


nav {
/* Tout ce qui dépasse sera caché = overflow hidden */
overflow: hidden;
background-color: antiquewhite; 
/* ici je fixe ma nav, peu importe si je scroll, elle restera */
position: fixed;
width: 100%;
opacity: 0.9;
}

/*                          LE HEADER  */

header li {
    /* Pour des éléments inline, permet de placer des éléments floatant 
    les autres element inline resteront autour de lui, voir mdn */
    float: right;
    /* Le em s'ajoute à la taille de l'écran */
    font-size: 1.2em;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

/*                          LE LOGO                      */

#logo {
    font-weight: bold;
    float: left;
}

/*                   IMAGE PRINCIPALE                         */

#imagePrincipale {
    padding-top: 60px;
    background: url(img-hotel/image-principale.JPG) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}

h1 {
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 110px;
    text-shadow: 1px 3px 2px pink;
}

#premierTrait {
    height: 1px;
    width: 50%;
    margin: -3px auto;
    background-color: aliceblue;
    box-shadow: 1px 3px 2px palevioletred;
}

h3 {
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px pink;

}

/*                           PRESENTATION                          */

#presentation {
    background-color:antiquewhite;
    padding: 10px 0px 100px 0px;
}

#texteIntro {
    padding: 0 20%;
}

#prestation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}

.imagePresentation h4 {
text-align: center;
font-size: 1.8em;
margin: 15px;
font-weight: 300;
}

.imagePrestation img {
    border-radius: 10px;
    box-shadow: 3px 4px 23px 0px pink;
    transition: 0.5s;
}

.imagePrestation img:hover {
    opacity: 0.5;
    /* fait grossir l'image */
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    
}

/*                         PARTIE TOURISME                             */


#tourisme {
    height: 1400px;
    background-color: aliceblue;
    padding: 1px 2%;

}

#tourisme h2 {
    padding-top: 60px;
}

#ocean {
    background: url(img-hotel/ocean.jpg)no-repeat;
}

#chateau {
    background: url(img-hotel/chateau.JPG)no-repeat;
}

#phare {
    background: url(/img-hotel/phare.JPG)no-repeat;
}

#vignoble {
    background: url(/img-hotel/vignes.jpg) no-repeat;
}

#tourisme li {
    border-radius: 5px;
    margin: 65px 100px 0 100px;
    height: 226px;
    width: 55%;
    max-width: 550px;
    float: left;
    box-shadow: 1px 3px 2px palevioletred;
}

#tourisme p {
    border-radius: 5px;
    height: 45px;
    width: 235px;
    background-color: aquamarine;
    float: right;
    margin: 50px -180px;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 3px 3px 10px 1px cornflowerblue;
}

#tourisme #chateau, #tourisme #vignoble {
    float: right;
}

#chateau p, #vignoble p {
    float: left;
    background-color: deepskyblue;
    margin-left: -180px;
    box-shadow: 3px 3px 10px 1px silver;
}

/*                        JE PASSE AU FOOTER                       */

footer {
    background-color:darkgrey;
    color: antiquewhite;
    padding: 20px 0 10px 0;
    text-align: center;
}

form {
margin: 0 auto;
max-width: 900px;
}

input, textarea, button {
    border: none;
    border-radius: 8px;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
}

textarea {
    height: 120px;
}

button {
    font-size: 1.5em;
    background-color: cadetblue;
    transition: 0.5s;
}

button:hover {
    background-color: rgb(43, 144, 226);
    color: pink;
    transition: 0.5s;
    /* Permet de faire apparaitre un doigt */
    cursor: pointer;
}
